.DateInput_input__small {
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    text-align: center;
}

.DateRangePickerInput_calendarIcon {
    padding: 0;
    margin: 0;
}

.SingleDatePicker_picker {
    z-index: 11;
}
